body {
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    border: 1px solid red;
    width: 60vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.col-4,
.col-8 {
    border: 1px solid blue;
}


/* dashboard chat */


.col-4 {
    background-color: white;
    /* overflow-y: scroll; */
}

.chat {
    height: 50px;
    border: 1px dashed black;
}

.search {
    height: 30px;
    border: 1px dashed black;
}

.profile {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}


.sophiaProfile {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.sophiaOption {
    cursor: pointer;
    display: flex;
    line-height: 50px;
    align-items: center;
}

.sophiaImg {
    border-radius: 50%;
    height: 40px;

}

.notifiche {
    background-color: rgba(76, 169, 227, 0.564);
    display: flex;
    align-items: center;


}


.bell {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    height: 20px;
    width: 100%;
}


/* right container */
.col-8 {
    background-image: url(./img/mine.jpg);
}

.writeBar {
    background-color: #f3eeea;
    height: 50px;
    margin-top: auto;
}

.containerChat {
    border: 1px solid black;
    height: calc(100% - 100px);

}